<a href="https://colab.research.google.com/github/sebanie15/data_science-bootcamp/blob/master/02_pandas/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

### podstawowe struktury danych: pd.Series

In [ ]:
s = pd.Series(data=[3, 2, 4, 6])
s

In [ ]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

In [ ]:
import numpy as np

# danych których nie posiadamy możemy zastapić funkcją z biblioteki numpay.nan
s = pd.Series(data=[3, np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

In [ ]:
s = pd.Series(data=[True, False, False]) # jako serie danych mozna użyć wartości 
                                         # boolenowskich
s

In [ ]:
# jako indeks mozna użyć daty, mozna ja wygenerować, np. funkcją pd.date_range
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', 
                                                          periods=10))
s

In [ ]:
s.index

In [ ]:
list(s.index)

In [ ]:

s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

In [ ]:
type(s)

In [ ]:
# atrybuty typu series

s.index

In [ ]:
# atrybuty typu series

s.values

In [ ]:
s.dtypes

In [ ]:
s.shape

(3,)

In [ ]:
price = pd.Series(data={'Apple': 200, 
                        'CD Projekt': 60, 
                        'amazon': 1900,
                        'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price['CD Projekt']

60

In [ ]:
price[1]

60

In [ ]:
price.count()

3

In [ ]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [ ]:
price.sum()

2160

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.describe().T

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.nlargest(n=1)

amazon    1900.0
dtype: float64

In [ ]:
price.nsmallest(1)

CD Projekt    60.0
dtype: float64

In [ ]:
price.rank()

Apple         2.0
CD Projekt    1.0
amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False)

amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln = price.apply(lambda x: x * 3.8)

In [ ]:
price_pln

Apple          760.0
CD Projekt     228.0
amazon        7220.0
KGHM             NaN
dtype: float64

### Podstawowe struktury danych: pd.DataFrame

In [2]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [4]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [5]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [22]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [7]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [8]:
df.index

Index(['first', 'second'], dtype='object')

In [9]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 144.0+ bytes

In [13]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [14]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

In [15]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [16]:
type(df['col_1'])

pandas.core.series.Series

In [17]:
df[['col_1']]

        col_1
first      10
second     23

In [18]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [20]:
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   10  12  13
second  23  12  10

In [21]:
df.a

first     10
second    23
Name: a, dtype: int64

In [23]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [24]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [25]:
df.loc['first', 'col_2']

12

In [26]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64